<%# 右のビュー %>
  <div class="right_content">

    <div class="right_top">
      <div class="chatroom_name">
        <p>hogefuga</p>
      </div>
      <div class="chatroom_fin">
        <a href="">チャットを終了する</a>
      </div>
    </div>

    <div class="right_main">
      <div class="comment_info">
        <div class="comment_top">
          <p class="comment_user">TOM</p>
          <p class="comment_date">2020/3/31(Wed) 12:43:30</p>
        </div>  
        <div class="comment">
          <p>おはよう</p>
        </div>
      </div>
      <div class="comment_info">
        <div class="comment_top">
          <div class="comment_user">TOM</div>
          <div class="comment_date">2020/3/31(Wed) 12:43:30</div>
        </div>  
        <div class="comment">
          <p>おはよう</p>
        </div>
      </div>
    </div>
    

    <div class="right_bottom">
      <div class="form_content">
     　　<div class="type_message_form">    
          <input class="type_message" placeholder="type a message">
          <label class="form_image">
            <span class="image_file">画像</span>
            <input type="file" class="hidden">
        　</label>
     　 </div>
        <input class="submit" type="submit" value="送信">
      </div>
    </div>
    
  </div>
