<%# 左のビュー %>
  <div class="left_content">
    <div class="left_top">
      <div  class="user_name">
        <%= link_to(current_user.name,  edit_user_path(current_user)) %>
      </div>
      <div class=chatroom_create>
        <%= link_to("チャットを作成する", new_room_path ) %>
      </div>  
    </div>

    <div class="left_bottom">
      <% current_user.rooms.each do |room| %>
        <div class="chatroom_name_content">
          <%= link_to(room.name, room_messages_path(room)) %>
        </div>
      <% end %>
    </div>

  </div>
