<%# 左のビュー %>
  <div class="left_content">
    <div class="left_top">
      <div  class="user_name">
        <a href="">user</a>
      </div>
      <div class=chatroom_create>
        <a href="">チャットを作成する</a>
      </div>  
    </div>

    <div class="left_bottom">
      <div class="chatroom_name_content">
        <a href="">chatroom_name</a>
      </div>
    </div>
  </div>
