<div class="wrapper">
  <%= render "side_bar" %>
  <%= render "main_chat" %>

  <%# 左のビュー %>
  <div class="left_content">
    <div class="left_top">
      <div  class="user_name">
        <a href="">user</a>
      </div>
      <div class=chatroom_create>
        <a href="">チャットを作成する</a>
      </div>  
    </div>

    <div class="left_bottom">
      <div class="chatroom_name">
        <a href="">chatroom_name</a>
      </div>
    </div>
  </div>

  <%# 右のビュー %>
  <div class="right_content">
    <div class="right_top">
    </div>
    <div class="right_main">
    </div>
    <div class="right_bottom">
    </div>
  </div>

</div>