<div class="wrapper">
  <%= render "side_bar" %>
  <%= render "main_chat" %>

  <%# 左のビュー %>
  <div class="left_content">
    <div class="left_top">
    </div>
    <div class="left_bottom">
    </div>
  </div>

  <%# 右のビュー %>
  <div class="right_content">
    <div class="right_top">
    </div>
    <div class="right_main">
    </div>
    <div class="right_bottom">
    </div>
  </div>

</div>