.wrapper {
  display: flex;
}

/* 左のビュー */
.left_content {
background-color: #253141;
width: 300px;
height: 100vh;
}

.left_top {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.chatroom_create a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
} 

.left_bottom {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.chatroom_name_content {
  padding: 20px 0 40px;
}
.chatroom_name_content a{
  text-decoration: none;
  color: white;
}

/* 右のビュー */
.right_content {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.right_top {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.chatroom_name  {
  color: #333;
  font-size: 24px;
  padding-top: 36px;
}
.chatroom_fin {
  margin-top: 40px;
}
.chatroom_fin a{
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  
}

.right_main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.comment_info {
  padding: 10px 0;
  margin-bottom: 40px;
}
.comment_top {
  display: flex;
  margin-bottom: 10px;
}
.comment_user {
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}
.comment_date {
  font-size: 12px;
  color: #999;
}
.comment {
  font-size: 14px;
  color: #434a54;
}

.right_bottom {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}
.form_content {
  display: flex;
  font-size: 0;
  width: 100%;
}
.type_message_form {
  background-color: white;
  width: 100%;
  display: flex;
  height: 50px;
}
.type_message {
  border: none;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  width: 100%;
}

.submit {
  font-size: 16px;
  color: white;
  border: none;
  height: 50px;
  background-color: #38aef0;
  padding: 0 20px;
  margin-left: 15px;
}
.form_image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}